@import "../vars/ads_vars";

.td-ads-zone-container{
  position: relative;
  margin:5px auto;
  overflow: hidden;
  display: block;
  .slides{
    list-style: none;
    margin:0;
    padding:0;
    li{
      position:absolute;
      display:none;
    }
  }
}
