@import "../vars/ads_vars";

.td-ads-zone-container{
  position: relative;
  margin:5px auto;
  overflow: hidden;
  display: block;
  &.square_ads_zone{
    width:336px;
    height:280px;
    .custom_ads_css{
      width:336px;
      height:280px;
    }
  }
  &.horizontal_ads_zone{
    width:728px;
    height:90px;
    .custom_ads_css{
      width:728px;
      height:90px;
    }
  }
  .slides{
    list-style: none;
    margin:0;
    padding:0;
    li{
      position:absolute;
      visibility: visible;

    }
  }

}

