@import "../vars/ads_vars";

.td-ads-zone-container{
  position: relative;
  margin:5px auto;
  overflow: hidden;
  display: block;
  width:336px;
  height:280px;
  .slides{
    list-style: none;
    margin:0;
    padding:0;
    li{
      position:absolute;
      visibility: visible;

    }
  }
  .custom_ads_css{
    width:336px;
    height:280px;
  }
}

